@media  (max-width: 768px) {.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 375px;}
.style0 {
opacity: 0.3499999940395355;
margin-left: 0px;
margin-top: 0px;
width: 445px;
height: 667px;}
}@media  (min-width: 768px)  and  (max-width: 920px) {.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 768px;}
.style0 {
opacity: 0.3499999940395355;
margin-left: 0px;
margin-top: 0px;
width: 911px;
height: 1366px;}
}@media  (min-width: 920px)  and  (max-width: 1200px) {.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 920px;}
.style0 {
opacity: 0.3499999940395355;
margin-left: 0px;
margin-top: 0px;
width: 1092px;
height: 1636px;}
}@media  (min-width: 1200px) {.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 1200px;}
.style0 {
opacity: 0.3499999940395355;
margin-left: 0px;
margin-top: 0px;
width: 1424px;
height: 2134px;}
}